@tailwind base;
@tailwind components;
@tailwind utilities;

.company-item {
    width: 224px;
}

.chart {
    width: 800px;
    height: 400px;
}

.form-filter {
    margin: 30px;
    padding: 15px;
    border: 1px solid black;
}

.form-filter label {
    margin-right: 10px;
}

.form-filter input {
    width: 40px;
}

button[type=submit] {
    margin-left: 20px;
    padding: 5px;
    border-radius: 15px;
    color: white;
    background-color: #F97316;
}

.form-new-company {
    margin: 30px;
    padding: 15px;
    border: 1px solid black;
    margin-left: 20px;
}

.form-new-company form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.form-new-company .form-item {
    margin-bottom: 30px;
}

.form-new-company [type=text] {
    padding: 5px;
    border: 1px solid black;
}

.form-new-company label {
    margin-right: 10px;
}

.form-new-company .form-item {
    display: flex;
    align-items: center;
}